<div class="p-4">
    @for (row of formService.rows(); track row.id) {
        <div 
        cdkDropList
        (cdkDropListDropped)="onDrop($event,row.id)"
        [cdkDropListOrientation]="'mixed'"
        class="p-5 mb-4 bg-white border-2 border-gray-200 border-dashed rounded-lg">
        <div>Row</div>
        <div class="flex gap-4 flex-wrap">
            @for (field of row.fields; track field.id) {
                <app-form-field class="flex-1" [field]="field"/>
            }
        
        </div>
    </div>
    
    }
</div>