/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@angular/material/prebuilt-themes/indigo-pink.css";
// @include mat.all-component-themes($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-drop-list-dragging:not(.elements-menu){
    border: 2px solid lightgray !important;
    background-color: lightgray !important;
}
mat-flat-button.mat-custom {
    background-color: #ff9800;
    color: #ffffff;
    }
    